{% extends "dogs/base.html" %}

{% block content %}
    {% load my_tags %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ bread }}</h1>
        </div>
    </div>
    <div class="album py-5 bg-light">
        <div class="container">
            {% for d in dogs %}
                <div class="row">
                    {#                    <div class="col-md-4">#}
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <table class="u-full-width">
                                <tr>
                                    <td><h2>{{ d.name|title }}</h2>
                                        <br>
                                        <h3>{{ d.birthdate }}</h3>
                                    </td>
                                    <td>
                                        <img src={{ d.photo|media_filter }} width="500">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title><!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Все породы</title>#}
{#</head>#}
{#<body>#}
{#    {% load my_tags %}#}
{#    <a href="../"><- К породам</a>#}
{#    <br>#}
{#    <h3>Породы:</h3>#}
{##}
{#    <table class="u-full-width" border="1">#}
{#        <thead>#}
{#        <tr>#}
{#            <th>Имя</th>#}
{#            <th>Дата рождения</th>#}
{#            <th>Фотография</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for d in dogs %}#}
{#            <tr>#}
{#                <td>{{ d.name|title }}</td>#}
{#                <td>{{ d.birthdate }}</td>#}
{#                <td><img src=/media/{{ d.photo }} width="500"></td>#}
{#                <td><img src={{ d.photo|media_filter }} width="500"></td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
{#</body>#}
{#</html></title>#}
{#</head>#}
{#<body>#}
{#</body>#}
{#</html>#}