{% extends "dogs/base.html" %}

{% block content %}
    {% load my_tags %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Регистрация</h1>
        </div>
    </div>

    <div class=" album py-5 bg-light">
        <div class="container">
            <form method="post" class="row">
                {% csrf_token %}
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        {{ form.as_p }}
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
