<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
    <a href="/contacts/">Контактная информация</a>
    <br>

    <h3>Последние 5 товаров:</h3>

    <table class="u-full-width" border="1">
        <thead>
        <tr>
            <th>Название</th>
            <th>Категория</th>
            <th>Цена</th>
            <th>Время добавления</th>
        </tr>
        </thead>
        <tbody>
        {% for p in products %}
            <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.category }}</td>
                <td>{{ p.price }}</td>
                <td>{{ p.date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="/dogs/">Страница о собаках</a>
</body>
</html>