{% extends "dogs/base.html" %}

{% block content %}
    {% load my_tags %}

    <div class="jumbotron">
        <div class="container">
            <h4 class="display-4">Ввести новый продукт:</h4>
        </div>
    </div>

    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    {{ form.as_p }}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Сохранить">
        </form>
    </div>
{% endblock %}
